<header data-header-module>
  <img src="/public/images/1on1_logo.svg" class="logo">
  <div class="headline">
    #nextdate#
  </div>

  <div class="menu" data-toggle="collapse" aria-expanded="true" data-target="#dropdown">
    ...
    <div class="collapse menu__dropdown" id="dropdown">
      <a href="#" class="notes">
        Notizen
      </a>
      <a href="#" class="makedate">
        Termin
      </a>
      <a href="#" class "abstract">
        Übersicht
      </a>
    </div>
  </div>

</header>